# api 크롤링

기존의 크롤링 방식은 

1. 내가 직접 홈페이지에 브라우저를 켜서 접근하거나(selenium) 

혹은 

2. 파이썬 자체적으로 호출을 요청해서(requests)

데이터를 가지고 오는 방식이었습니다.

이 방식은 서버에 부하가 많이 갈 뿐더러 나에게 필요없는 데이터까지 한 번에 호출해서 가져오는 문제가 있습니다.

따라서 서비스 제공자측에서는 서버 부하를 줄이고, 사용자에게 맞춤형을 데이터를 제공하기 위해 api서버를 운영합니다.

api서버는 인가된 데이터만을 개발자에게 넘겨서 서버도 안정적으로 유지하며(횟수 제한이 있는 사이트도 많습니다. 라이엇 데이터는 1초에 5회, 2분에 100회로 제한됩니다.) 

필요없는 동영상자료나 그림자료를 호출하지 않으므로 트래픽을 줄일 수 있습니다.



api 서버 접근시 보통 urllib.request 를 이용하게 됩니다.

In [1]:
# 사이트에 자료 요청
import urllib.request 
# json 데이터 핸들링
import json 
# DataFrame 자료형 활용
import pandas as pd 
# json 데이터를 pandas DataFrame으로 변환
from pandas.io.json import json_normalize

# 영진위 api신청

http://www.kobis.or.kr/kobisopenapi/homepg/main/main.do

1. 접속 후 가입 및 로그인

2. 키발급 탭에서 키 발급하기

3. 요청 api종류 보고 요청양식 및 데이터 확인하기

In [2]:
api_key = "f5eef3421c602c6cb7ea224104795888" # 발급받은 키만 복붙하세요
request_date = "20220622" # 조회날짜를  xxxxyydd 20220623 형식으로 넣어주세요
url = "http://kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json?key=%s&targetDt=%s" % (api_key, request_date)
print(url)

http://kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json?key=f5eef3421c602c6cb7ea224104795888&targetDt=20220622

# json데이터를 팬더스 데이터프레임으로 변환

api 데이터는 보통 json(JavaScript Object Notation) 타입으로 받아집니다.

쉽게 말하면 자바스크립트 데이터를 전달하기 좋게 설정한 자료형인데

파이썬의 딕셔너리와 거의 같다고 보시면 됩니다.

따라서 json 데이터를 팬더스 데이터로 변환한다는 것은 사실상

딕셔너리 데이터를 팬더스 데이터프레임으로 변환하는것입니다.

In [3]:
# 위의 url 변수를 이용해 데이터를 요청합니다.
r = urllib.request.urlopen(url)

# 요청 페이지의 결과 데이터를 파이썬 내부 데이터로 바꿉니다.
json_raw = r.read()

In [4]:
# b'~~~~~~~'로 시작하는 이 데이터는 파이썬에서 byte자료형으로 처리되고
# 데이터프레임으로는 바로 변환이 불가능합니다.
json_raw

b'{"boxOfficeResult":{"boxofficeType":"\xec\x9d\xbc\xeb\xb3\x84 \xeb\xb0\x95\xec\x8a\xa4\xec\x98\xa4\xed\x94\xbc\xec\x8a\xa4","showRange":"20220622~20220622","dailyBoxOfficeList":[{"rnum":"1","rank":"1","rankInten":"0","rankOldAndNew":"NEW","movieCd":"20194376","movieNm":"\xed\x83\x91\xea\xb1\xb4: \xeb\xa7\xa4\xeb\xb2\x84\xeb\xa6\xad","openDt":"2022-06-22","salesAmt":"1976138530","salesShare":"54.3","salesInten":"1976138530","salesChange":"100","salesAcc":"2717027360","audiCnt":"188320","audiInten":"188320","audiChange":"100","audiAcc":"253024","scrnCnt":"1975","showCnt":"9158"},{"rnum":"2","rank":"2","rankInten":"-1","rankOldAndNew":"OLD","movieCd":"20224882","movieNm":"\xeb\xa7\x88\xeb\x85\x80(\xe9\xad\x94\xe5\xa5\xb3) Part2. The Other One","openDt":"2022-06-15","salesAmt":"836530290","salesShare":"23.0","salesInten":"-253595090","salesChange":"-23.3","salesAcc":"18226709650","audiCnt":"82697","audiInten":"-25485","audiChange":"-23.6","audiAcc":"1769487","scrnCnt":"977","showCnt":"3503"},{"rnum":"3","rank":"3","rankInten":"-1","rankOldAndNew":"OLD","movieCd":"20204548","movieNm":"\xeb\xb2\x94\xec\xa3\x84\xeb\x8f\x84\xec\x8b\x9c 2","openDt":"2022-05-18","salesAmt":"577713370","salesShare":"15.9","salesInten":"-158610060","salesChange":"-21.5","salesAcc":"120661898940","audiCnt":"57874","audiInten":"-15996","audiChange":"-21.7","audiAcc":"11671565","scrnCnt":"774","showCnt":"2531"},{"rnum":"4","rank":"4","rankInten":"-1","rankOldAndNew":"OLD","movieCd":"20206257","movieNm":"\xeb\xb8\x8c\xeb\xa1\x9c\xec\xbb\xa4","openDt":"2022-06-08","salesAmt":"96980760","salesShare":"2.7","salesInten":"-120734520","salesChange":"-55.5","salesAcc":"11616483360","audiCnt":"9993","audiInten":"-12369","audiChange":"-55.3","audiAcc":"1160661","scrnCnt":"449","showCnt":"674"},{"rnum":"5","rank":"5","rankInten":"-1","rankOldAndNew":"OLD","movieCd":"20223839","movieNm":"\xeb\xb2\x84\xec\xa6\x88 \xeb\x9d\xbc\xec\x9d\xb4\xed\x8a\xb8\xec\x9d\xb4\xec\x96\xb4","openDt":"2022-06-15","salesAmt":"34719200","salesShare":"1.0","salesInten":"-99957740","salesChange":"-74.2","salesAcc":"2494001690","audiCnt":"3952","audiInten":"-8455","audiChange":"-68.1","audiAcc":"233281","scrnCnt":"287","showCnt":"375"},{"rnum":"6","rank":"6","rankInten":"-1","rankOldAndNew":"OLD","movieCd":"20206061","movieNm":"\xec\xa5\xac\xeb\x9d\xbc\xea\xb8\xb0 \xec\x9b\x94\xeb\x93\x9c: \xeb\x8f\x84\xeb\xaf\xb8\xeb\x8b\x88\xec\x96\xb8","openDt":"2022-06-01","salesAmt":"21223800","salesShare":"0.6","salesInten":"-76011160","salesChange":"-78.2","salesAcc":"28777481910","audiCnt":"2271","audiInten":"-7685","audiChange":"-77.2","audiAcc":"2788543","scrnCnt":"117","showCnt":"141"},{"rnum":"7","rank":"7","rankInten":"0","rankOldAndNew":"NEW","movieCd":"20224757","movieNm":"\xeb\xa3\xb8 \xec\x89\x90\xec\x96\xb4\xeb\xa7\x81","openDt":"2022-06-22","salesAmt":"13283560","salesShare":"0.4","salesInten":"13283560","salesChange":"100","salesAcc":"33442560","audiCnt":"1586","audiInten":"1586","audiChange":"100","audiAcc":"3937","scrnCnt":"122","showCnt":"190"},{"rnum":"8","rank":"8","rankInten":"12","rankOldAndNew":"OLD","movieCd":"20178501","movieNm":"\xeb\x8b\x88 \xeb\xb6\x80\xeb\xaa\xa8 \xec\x96\xbc\xea\xb5\xb4\xec\x9d\xb4 \xeb\xb3\xb4\xea\xb3\xa0 \xec\x8b\xb6\xeb\x8b\xa4","openDt":"2022-04-27","salesAmt":"5090000","salesShare":"0.1","salesInten":"3590000","salesChange":"239.3","salesAcc":"3912819280","audiCnt":"1015","audiInten":"715","audiChange":"238.3","audiAcc":"409303","scrnCnt":"3","showCnt":"4"},{"rnum":"9","rank":"9","rankInten":"5","rankOldAndNew":"OLD","movieCd":"20199500","movieNm":"\xeb\x9c\xa8\xea\xb1\xb0\xec\x9a\xb4 \xed\x94\xbc","openDt":"2022-03-23","salesAmt":"5000000","salesShare":"0.1","salesInten":"2500000","salesChange":"100","salesAcc":"3788794970","audiCnt":"1000","audiInten":"500","audiChange":"100","audiAcc":"399272","scrnCnt":"4","showCnt":"5"},{"rnum":"10","rank":"9","rankInten":"5","rankOldAndNew":"OLD","movieCd":"20212783","movieNm":"\xeb\xa1\x9c\xec\x8a\xa4\xed\x8a\xb8 \xec\x8b\x9c\xed\x8b\xb0","openDt":"2022-04-20","salesAmt":"5000000","salesShare":"0.1","salesInten":"2500000","salesChange":"100","salesAcc":"1006394850","audiCnt":"1000","audiInten":"500","audiChange":"100","audiAcc":"109848","scrnCnt":"4","showCnt":"5"}]}}'

In [5]:
# 바이트자료형임을 확인
type(json_raw)

bytes

In [6]:
# 따라서 utf-8 형식으로 고쳐줘야 합니다. .decode()를 이용합니다.
# encode => 우리가 쓰는 문자를 컴퓨터가 쓰는 형태로 변환
# decode => 컴퓨터가 쓰는 형태의 문자를 우리가 쓰는 형태로 변환
json_utf8 = json_raw.decode("utf-8")

In [7]:
# 딕셔너리 구조를 유지하고 있는 문자로 변환됨
type(json_utf8)

str

In [8]:
# json.loads(딕셔너리 형태의 문자열 자료)
# 딕셔너리 형태로 적힌 문자열 자료를 딕셔너리형으로 변환
json_complete = json.loads(json_utf8)

In [9]:
# 딕셔너리(json) 변환 완료 확인
type(json_complete)

dict

In [10]:
# json_normalize(딕셔너리 자료)
# 딕셔너리 자료를 데이터프레임 형태로 변환해줌.
pd.json_normalize(json_complete)

,boxOfficeResult.boxofficeType,boxOfficeResult.showRange,boxOfficeResult.dailyBoxOfficeList
0,일별 박스오피스,20220622~20220622,"[{'rnum': '1', 'rank': '1', 'rankInten': '0', ..."

In [11]:
# boxOfficeResult.dailyBoxOfficeList 컬럼 내부에 딕셔너리가 여럿 묶인 리스트가 보이므로
# boxOfficeResult.dailyBoxOfficeList 컬럼을 타겟으로 데이터프레임화 합니다.
box_result = pd.json_normalize(json_complete['boxOfficeResult']['dailyBoxOfficeList'])

In [12]:
# json_normalize()는 pd.DataFrame() 으로 대체 가능합니다.
pd.DataFrame(json_complete)

                                                      boxOfficeResult
boxofficeType                                                일별 박스오피스
dailyBoxOfficeList  [{'rnum': '1', 'rank': '1', 'rankInten': '0', ...
showRange                                           20220622~20220622

In [13]:
import time
import datetime # 파이썬 날짜 자료형

In [14]:
start_datetime = datetime.datetime(2021, 6, 22) # 년 월 일 순으로 넣어줍니다.
# 형식 바꾸기
target_date = start_datetime.strftime('%Y%m%d') # 영진위 형식으로 변경
print(target_date)
# 날짜 하루 올리기
next_datetime = start_datetime + datetime.timedelta(days=1)
next_datetime

20210622

datetime.datetime(2021, 6, 23, 0, 0)

In [15]:
# target_dates = ['20220620','20220621','20220622']
# 날짜는 시작날짜와 + 며칠 을 처리할지 결정할 수 있습니다.
# 1년치 데이터를 얻은 다음 to_csv나 to_excel로 저장해주세요.
start_datetime = datetime.datetime(2021, 6, 22) # 년 월 일 순으로 넣어줍니다.

# 반복문과 append를 이용해서 3일치 데이터를 요청해서 합쳐보세요.
# target_date 컬럼에 조회 날짜를 추가해주세요.
# 빈 데이터프레임을 하나 생성해놓고(pd.DataFrame())
merged_data = pd.DataFrame()
for date in range(365):
    target_date = start_datetime.strftime('%Y%m%d')
    url = "http://kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json?key=%s&targetDt=%s" % (api_key, target_date)
    # 위의 url 변수를 이용해 데이터를 요청합니다.
    r = urllib.request.urlopen(url)

    # 요청 페이지의 결과 데이터를 파이썬 내부 데이터로 바꿉니다.
    json_raw = r.read()
    json_utf8 = json_raw.decode("utf-8")
    json_complete = json.loads(json_utf8)
    box_result = pd.json_normalize(json_complete['boxOfficeResult']['dailyBoxOfficeList'])
    # 얻어온 데이터에 날짜 컬럼 추가
    box_result['target_date'] = target_date
    # 날짜별 데이터프레임을 하나로 통합
    merged_data = pd.concat([merged_data, box_result])
    start_datetime = start_datetime + datetime.timedelta(days=1)
    print("%s일차 수집 완료" % date)
    
merged_data

0일차 수집 완료
1일차 수집 완료
2일차 수집 완료
3일차 수집 완료
4일차 수집 완료
5일차 수집 완료
6일차 수집 완료
7일차 수집 완료
8일차 수집 완료
9일차 수집 완료
10일차 수집 완료
11일차 수집 완료
12일차 수집 완료
13일차 수집 완료
14일차 수집 완료
15일차 수집 완료
16일차 수집 완료
17일차 수집 완료
18일차 수집 완료
19일차 수집 완료
20일차 수집 완료
21일차 수집 완료
22일차 수집 완료
23일차 수집 완료
24일차 수집 완료
25일차 수집 완료
26일차 수집 완료
27일차 수집 완료
28일차 수집 완료
29일차 수집 완료
30일차 수집 완료
31일차 수집 완료
32일차 수집 완료
33일차 수집 완료
34일차 수집 완료
35일차 수집 완료
36일차 수집 완료
37일차 수집 완료
38일차 수집 완료
39일차 수집 완료
40일차 수집 완료
41일차 수집 완료
42일차 수집 완료
43일차 수집 완료
44일차 수집 완료
45일차 수집 완료
46일차 수집 완료
47일차 수집 완료
48일차 수집 완료
49일차 수집 완료
50일차 수집 완료
51일차 수집 완료
52일차 수집 완료
53일차 수집 완료
54일차 수집 완료
55일차 수집 완료
56일차 수집 완료
57일차 수집 완료
58일차 수집 완료
59일차 수집 완료
60일차 수집 완료
61일차 수집 완료
62일차 수집 완료
63일차 수집 완료
64일차 수집 완료
65일차 수집 완료
66일차 수집 완료
67일차 수집 완료
68일차 수집 완료
69일차 수집 완료
70일차 수집 완료
71일차 수집 완료
72일차 수집 완료
73일차 수집 완료
74일차 수집 완료
75일차 수집 완료
76일차 수집 완료
77일차 수집 완료
78일차 수집 완료
79일차 수집 완료
80일차 수집 완료
81일차 수집 완료
82일차 수집 완료
83일차 수집 완료
84일차 수집 완료
85일차 수집 완료
86일차 수집 완료
87일차 수집 완료
88일차 수집 완료
89일차 수집 완료
90일차 수집 완료
91일차 수집 완료
92일차 수집 완료
93일차 수집 완료
94일차 수집 완료
95일차 수집 완료
96일차 수집 완료
97일차 수집 완료
98일차 수집 완료
99일차 수집 완료
100일차 수집 완료
101일차 수집 완료
102일차 수집 완료
103일차 수집 완료
104일차 수집 완료
105일차 수집 완료
106일차 수집 완료
107일차 수집 완료
108일차 수집 완료
109일차 수집 완료
110일차 수집 완료
111일차 수집 완료
112일차 수집 완료
113일차 수집 완료
114일차 수집 완료
115일차 수집 완료
116일차 수집 완료
117일차 수집 완료
118일차 수집 완료
119일차 수집 완료
120일차 수집 완료
121일차 수집 완료
122일차 수집 완료
123일차 수집 완료
124일차 수집 완료
125일차 수집 완료
126일차 수집 완료
127일차 수집 완료
128일차 수집 완료
129일차 수집 완료
130일차 수집 완료
131일차 수집 완료
132일차 수집 완료
133일차 수집 완료
134일차 수집 완료
135일차 수집 완료
136일차 수집 완료
137일차 수집 완료
138일차 수집 완료
139일차 수집 완료
140일차 수집 완료
141일차 수집 완료
142일차 수집 완료
143일차 수집 완료
144일차 수집 완료
145일차 수집 완료
146일차 수집 완료
147일차 수집 완료
148일차 수집 완료
149일차 수집 완료
150일차 수집 완료
151일차 수집 완료
152일차 수집 완료
153일차 수집 완료
154일차 수집 완료
155일차 수집 완료
156일차 수집 완료
157일차 수집 완료
158일차 수집 완료
159일차 수집 완료
160일차 수집 완료
161일차 수집 완료
162일차 수집 완료
163일차 수집 완료
164일차 수집 완료
165일차 수집 완료
166일차 수집 완료
167일차 수집 완료
168일차 수집 완료
169일차 수집 완료
170일차 수집 완료
171일차 수집 완료
172일차 수집 완료
173일차 수집 완료
174일차 수집 완료
175일차 수집 완료
176일차 수집 완료
177일차 수집 완료
178일차 수집 완료
179일차 수집 완료
180일차 수집 완료
181일차 수집 완료
182일차 수집 완료
183일차 수집 완료
184일차 수집 완료
185일차 수집 완료
186일차 수집 완료
187일차 수집 완료
188일차 수집 완료
189일차 수집 완료
190일차 수집 완료
191일차 수집 완료
192일차 수집 완료
193일차 수집 완료
194일차 수집 완료
195일차 수집 완료
196일차 수집 완료
197일차 수집 완료
198일차 수집 완료
199일차 수집 완료
200일차 수집 완료
201일차 수집 완료
202일차 수집 완료
203일차 수집 완료
204일차 수집 완료
205일차 수집 완료
206일차 수집 완료
207일차 수집 완료
208일차 수집 완료
209일차 수집 완료
210일차 수집 완료
211일차 수집 완료
212일차 수집 완료
213일차 수집 완료
214일차 수집 완료
215일차 수집 완료
216일차 수집 완료
217일차 수집 완료
218일차 수집 완료
219일차 수집 완료
220일차 수집 완료
221일차 수집 완료
222일차 수집 완료
223일차 수집 완료
224일차 수집 완료
225일차 수집 완료
226일차 수집 완료
227일차 수집 완료
228일차 수집 완료
229일차 수집 완료
230일차 수집 완료
231일차 수집 완료
232일차 수집 완료
233일차 수집 완료
234일차 수집 완료
235일차 수집 완료
236일차 수집 완료
237일차 수집 완료
238일차 수집 완료
239일차 수집 완료
240일차 수집 완료
241일차 수집 완료
242일차 수집 완료
243일차 수집 완료
244일차 수집 완료
245일차 수집 완료
246일차 수집 완료
247일차 수집 완료
248일차 수집 완료
249일차 수집 완료
250일차 수집 완료
251일차 수집 완료
252일차 수집 완료
253일차 수집 완료
254일차 수집 완료
255일차 수집 완료
256일차 수집 완료
257일차 수집 완료
258일차 수집 완료
259일차 수집 완료
260일차 수집 완료
261일차 수집 완료
262일차 수집 완료
263일차 수집 완료
264일차 수집 완료
265일차 수집 완료
266일차 수집 완료
267일차 수집 완료
268일차 수집 완료
269일차 수집 완료
270일차 수집 완료
271일차 수집 완료
272일차 수집 완료
273일차 수집 완료
274일차 수집 완료
275일차 수집 완료
276일차 수집 완료
277일차 수집 완료
278일차 수집 완료
279일차 수집 완료
280일차 수집 완료
281일차 수집 완료
282일차 수집 완료
283일차 수집 완료
284일차 수집 완료
285일차 수집 완료
286일차 수집 완료
287일차 수집 완료
288일차 수집 완료
289일차 수집 완료
290일차 수집 완료
291일차 수집 완료
292일차 수집 완료
293일차 수집 완료
294일차 수집 완료
295일차 수집 완료
296일차 수집 완료
297일차 수집 완료
298일차 수집 완료
299일차 수집 완료
300일차 수집 완료
301일차 수집 완료
302일차 수집 완료
303일차 수집 완료
304일차 수집 완료
305일차 수집 완료
306일차 수집 완료
307일차 수집 완료
308일차 수집 완료
309일차 수집 완료
310일차 수집 완료
311일차 수집 완료
312일차 수집 완료
313일차 수집 완료
314일차 수집 완료
315일차 수집 완료
316일차 수집 완료
317일차 수집 완료
318일차 수집 완료
319일차 수집 완료
320일차 수집 완료
321일차 수집 완료
322일차 수집 완료
323일차 수집 완료
324일차 수집 완료
325일차 수집 완료
326일차 수집 완료
327일차 수집 완료
328일차 수집 완료
329일차 수집 완료
330일차 수집 완료
331일차 수집 완료
332일차 수집 완료
333일차 수집 완료
334일차 수집 완료
335일차 수집 완료
336일차 수집 완료
337일차 수집 완료
338일차 수집 완료
339일차 수집 완료
340일차 수집 완료
341일차 수집 완료
342일차 수집 완료
343일차 수집 완료
344일차 수집 완료
345일차 수집 완료
346일차 수집 완료
347일차 수집 완료
348일차 수집 완료
349일차 수집 완료
350일차 수집 완료
351일차 수집 완료
352일차 수집 완료
353일차 수집 완료
354일차 수집 완료
355일차 수집 완료
356일차 수집 완료
357일차 수집 완료
358일차 수집 완료
359일차 수집 완료
360일차 수집 완료
361일차 수집 완료
362일차 수집 완료
363일차 수집 완료
364일차 수집 완료

,rnum,rank,rankInten,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesShare,salesInten,salesChange,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,target_date
0,1,1,0,OLD,20204261,콰이어트 플레이스 2,2021-06-16,294889050,31.5,-30865510,-9.5,4421657460,30612,-3293,-9.7,444223,1018,3714,20210622
1,2,2,0,OLD,20216362,크루엘라,2021-05-26,251308720,26.8,2055160,0.8,12310491420,26091,229,0.9,1277523,800,2102,20210622
2,3,3,0,OLD,20216685,루카,2021-06-17,87755080,9.4,2066470,2.4,1395603040,9669,303,3.2,152715,620,1668,20210622
3,4,4,0,OLD,20217736,컨저링3: 악마가 시켰다,2021-06-03,88336660,9.4,-2132260,-2.4,7416374550,8693,-160,-1.8,738471,547,981,20210622
4,5,5,0,OLD,20218240,여고괴담 여섯번째 이야기 : 모교,2021-06-17,52326870,5.6,-4705000,-8.2,697801050,5725,-381,-6.2,77363,466,1307,20210622
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,6,6,0,NEW,20209654,헤어질 결심,2022-06-29,51374000,2.1,51374000,100,51374000,5706,5706,100,5706,14,23,20220621
6,7,7,1,OLD,20135304,극장판 포켓몬스터DP: 기라티나와 하늘의 꽃다발 쉐이미,2022-06-01,7169000,0.3,2203800,44.4,5286590290,844,282,50.2,561229,77,88,20220621
7,8,8,1,OLD,20210843,실종,2022-06-15,7153500,0.3,1744500,32.3,68060800,749,208,38.4,6796,61,85,20220621
8,9,9,-2,OLD,20212855,닥터 스트레인지: 대혼돈의 멀티버스,2022-05-04,7209400,0.3,-376470,-5,62627623410,738,-3,-0.4,5882504,26,45,20220621
9,10,10,1,OLD,20212725,신비한 동물들과 덤블도어의 비밀,2022-04-13,3462000,0.1,933000,36.9,12305217580,692,189,37.6,1195444,2,2,20220621

In [16]:
box_result.head()

,rnum,rank,rankInten,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesShare,salesInten,salesChange,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,target_date
0,1,1,0,OLD,20224882,마녀(魔女) Part2. The Other One,2022-06-15,1090125380,45.2,-126228690,-10.4,17390179360,108182,-12316,-10.2,1686790,1630,6629,20220621
1,2,2,0,OLD,20204548,범죄도시 2,2022-05-18,736323430,30.5,-57806350,-7.3,120084185570,73870,-5657,-7.1,11613691,1132,4569,20220621
2,3,3,0,OLD,20206257,브로커,2022-06-08,217715280,9.0,15074160,7.4,11519502600,22362,1540,7.4,1150668,665,1977,20220621
3,4,4,0,OLD,20223839,버즈 라이트이어,2022-06-15,134676940,5.6,6735280,5.3,2459282490,12407,1252,11.2,229329,626,1776,20220621
4,5,5,0,OLD,20206061,쥬라기 월드: 도미니언,2022-06-01,97234960,4.0,9478580,10.8,28756258110,9956,1255,14.4,2786272,429,783,20220621

In [17]:
# csv 혹은 엑셀로 뽑아주세요.
# 스크린당 평균 관객이 제일 많았던 영화를 뽑아주세요.
# 관객 총합 / 스크린 총합 = 스크린당 관객이 나옵니다.
# 컬럼 타입이 object이므로, 집계함수를 쓸 수 있도록 int로 컬럼 전체 자료형을 바꿔줘야 합니다.
merged_data['audiCnt'] = merged_data['audiCnt'].astype(int)
merged_data['scrnCnt'] = merged_data['scrnCnt'].astype(int)
merged_data['target_date'] = pd.to_datetime(merged_data['target_date'])

In [18]:
merged_data['target_date']

0   2021-06-22
1   2021-06-22
2   2021-06-22
3   2021-06-22
4   2021-06-22
       ...
5   2022-06-21
6   2022-06-21
7   2022-06-21
8   2022-06-21
9   2022-06-21
Name: target_date, Length: 3650, dtype: datetime64[ns]

In [19]:
mean_data = merged_data.groupby('movieNm')[['audiCnt', 'scrnCnt']].sum()

In [20]:
mean_data

                              audiCnt  scrnCnt
movieNm
007 노 타임 투 다이                 1222296    36288
1984 최동원                         4429      494
355                             37910     3440
BIAF2021 부천국제애니메이션페스티벌 기획상영展      539        3
BIAF2021 한국 단편 경쟁 B              3582        9
...                               ...      ...
호빗: 스마우그의 폐허                     1824       70
호스트: 접속금지                       13218      965
화양연화                             3858       88
화이트데이: 부서진 결계                    4292      934
휴가                               1991      152

[300 rows x 2 columns]

In [21]:
mean_data['result'] = mean_data['audiCnt'] / mean_data['scrnCnt']

In [22]:
db_insert_data = mean_data[['audiCnt', 'scrnCnt', 'result']].sort_values(by='result', ascending=False)

In [23]:
# csv로 빼내기
merged_data.to_excel('영진위.xlsx', encoding="utf-8")

# 가져온 데이터 mysql에 연동하기

- import pymysql
- 을 활용해서 연동할 수 있습니다.

- 임포트가 되지 않는다면 다시 설치를 해야합니다.
1. Anaconda Navigator에서 좌측 탭의 enviroments를 누릅니다.
2. Open terminal을 이용해 cmd창같은 창을 켭니다.(터미널창이라고 부릅니다.)
3. pip install pymysql 을 입력하고 실행합니다.

### 오라클 연동

위와 같은데 3번에서
- pip install cx_Oracle 
- 을 대신 입력해서 설치하면 됩니다.

In [24]:
# pymysql 실행을 해야 DB와 연결할 수 있습니다.
import pymysql

In [25]:
# MySQL 연결에 필요한 정보를 입력합니다.
con = pymysql.connect(host='localhost', user='root', password='mysql', db='pyprac1', charset='utf8',
                     cursorclass=pymysql.cursors.DictCursor) # 컬럼명까지 받아올지 여부

In [26]:
# SQL구문을 받아주는 cursor 객체를 사용합니다.
cur = con.cursor()

In [27]:
# SQL구문은 문자로 cur.execute()를 실행해서 수행시킵니다.
cur.execute("SELECT * FROM test_tbl")

6

In [28]:
# execute가 실행되면, cur가 데이터를 저장하고 있는데 이걸 파이선 형식으로 뺴야합니다.
mysql_data = cur.fetchall()

In [29]:
mysql_data

[{'tno': 1, 'tname': 'a'},
 {'tno': 2, 'tname': 'b'},
 {'tno': 3, 'tname': 'c'},
 {'tno': 4, 'tname': 'd'},
 {'tno': 5, 'tname': 'e'},
 {'tno': 6, 'tname': 'e'}]

In [30]:
# 데이터프레임 형태로 변환
pd.DataFrame(mysql_data)

   tno tname
0    1     a
1    2     b
2    3     c
3    4     d
4    5     e
5    6     e

In [31]:
# 여러분들이 data 'e'를 넣어보세요.
cur.execute("INSERT INTO test_tbl VALUES (null, 'e')")

1

In [32]:
# 커서가 아닌 커넥션에 commit을 주는것에 주의해주세요.
con.commit()

In [33]:
# db_insert_data에는 movieNm이라는 로우가 있는데 컬럼으로 바꾸는게 DB에 넣을때 유리함
db_insert_data
# 전체 로우 데이터를 컬럼에 새로 집어넣어주기
db_insert_data['movieNm'] = db_insert_data.index

In [34]:
# reset_index로 로우 삭제하기
db_insert_data = db_insert_data.reset_index(drop=True)

In [35]:
db_insert_data.head()

   audiCnt  scrnCnt  result movieNm
0     1392        1  1392.0  내일의 기억
1     1238        1  1238.0   파이프라인
2     2000        2  1000.0  비긴 어게인
3     2000        2  1000.0  어바웃 타임
4      710        1   710.0   더 스파이

In [36]:
#로우개수
len(db_insert_data)
# loc를 이용해 특정 로우 자료를, 그리고 다시 ['컬럼조회']를 통해 특정로우의 특정컬럼값을 조회할 수 있습니다.
db_insert_data.loc[1]['audiCnt']

1238

In [37]:
# 과제. MySQL이나 Oracle SQL에 현재 보고있는 db_insert데이터를
# 테이블 생성 및 반복문을 이용해서 다 DB에 넣어주시면 됩니다.

# 위 로직을 똑같이 오라클에서도 활용할 수 있습니다. 직접 해 보세요.

In [63]:
import cx_Oracle

In [64]:
# Oracle 연동
# 11버전은 localhost:1521/XE
# 18버전은 localhost:1521/XEPDB1
con_oracle = cx_Oracle.connect("mytest", "mytest", "localhost:1521/XE")

In [65]:
cur_oracle = con_oracle.cursor()

In [66]:
cur_oracle.execute("SELECT * FROM movie_tbl")

In [67]:
cur_oracle.fetchall()

[('테스트영화', 1, 1, 1)]

In [68]:
db_insert_data.head()

   audiCnt  scrnCnt  result movieNm
0     1392        1  1392.0  내일의 기억
1     1238        1  1238.0   파이프라인
2     2000        2  1000.0  비긴 어게인
3     2000        2  1000.0  어바웃 타임
4      710        1   710.0   더 스파이

In [69]:
for row_num in range(len(db_insert_data)):
    # movieNm 각 항목별로 반복문 돌려서 '가 하나 이상 발견되는 경우
    # 파이썬은 0이면 False, 나머지는 True이므로 count결과를 그대로 조건식에 넣을수 있음
    if(db_insert_data.loc[row_num]['movieNm'].count("'")):
        db_insert_data.loc[row_num]['movieNm'] = db_insert_data.loc[row_num]['movieNm'].replace("'", "")

In [70]:
db_insert_data['movieNm'][220] = db_insert_data.loc[220]['movieNm'].replace("'", "")

C:\Users\ict03-00\AppData\Local\Temp\ipykernel_17344\2693812650.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db_insert_data['movieNm'][220] = db_insert_data.loc[220]['movieNm'].replace("'", "")

In [71]:
db_insert_data.loc[220]['movieNm']

'뱅드림! 팝핀 드림!'

In [72]:
for row_num in range(len(db_insert_data)):
    movie_nm = db_insert_data.iloc[row_num]['movieNm']
    audi_cnt = db_insert_data.iloc[row_num]['audiCnt']
    scrn_cnt = db_insert_data.iloc[row_num]['scrnCnt']
    audi_mean = db_insert_data.iloc[row_num]['result']
    query = "INSERT INTO movie_tbl VALUES ('%s', %s, %s, %s)" % (movie_nm, audi_cnt, scrn_cnt, int(audi_mean))
    print(query)
    cur_oracle.execute(query)
    print("-----------------------------------------------")
con_oracle.commit()

INSERT INTO movie_tbl VALUES ('내일의 기억', 1392, 1, 1392)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('파이프라인', 1238, 1, 1238)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('비긴 어게인', 2000, 2, 1000)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('어바웃 타임', 2000, 2, 1000)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('더 스파이', 710, 1, 710)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('BIFAN2021 판타스틱 단편 걸작선 1', 20000, 37, 540)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('라라랜드', 2022, 4, 505)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('헤어질 결심', 5706, 14, 407)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('BIAF2021 한국 단편 경쟁 B', 3582, 9, 398)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('지지', 334, 1, 334)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('윤시내가 사라졌다', 624, 2, 312)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('포 언투 어스', 300, 1, 300)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('웬디', 1184, 4, 296)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('감동주의보', 762, 3, 254)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('니얼굴', 503, 2, 251)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('광대: 소리꾼', 2710, 12, 225)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('스피릿', 1348, 6, 224)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('원샷', 6430, 31, 207)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('미싱타는 여자들', 201, 1, 201)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('시네마 천국', 400, 2, 200)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('괴짜들의 로맨스', 1176, 6, 196)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('룸 쉐어링', 1930, 10, 193)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('범죄도시 2', 11613475, 63603, 182)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('BIAF2021 부천국제애니메이션페스티벌 기획상영展', 539, 3, 179)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('마녀(魔女) Part2. The Other One', 1685886, 11520, 146)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('파이어스타터', 1506, 11, 136)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('자산어보', 1219, 9, 135)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('박강아름 결혼하다', 510, 4, 127)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('닥터 스트레인지: 대혼돈의 멀티버스', 5880707, 48993, 120)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('쥬라기 월드: 도미니언', 2786272, 23552, 118)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('아이 스틸 빌리브', 217, 2, 108)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('더 하더 데이 폴', 3015, 31, 97)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('그림자꽃', 1564, 18, 86)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('스파이더맨: 노 웨이 홈', 7541536, 90668, 83)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('너의 이름은.', 45672, 552, 82)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('뜨거운 피: 디 오리지널', 12745, 158, 80)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('덩케르크', 1319, 17, 77)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('탑건: 매버릭', 64414, 857, 75)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('브로커', 1150108, 15515, 74)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('극장판 포켓몬스터DP: 기라티나와 하늘의 꽃다발 쉐이미', 561229, 7653, 73)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('비욘드라이브 더 무비 : 엔시티 레조넌스', 15966, 224, 71)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('블랙 위도우', 2953731, 46046, 64)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('이터널스', 3045398, 48675, 62)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('싱크홀', 2179611, 35026, 62)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('스파이 캣', 425, 7, 60)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('학교 가는 길', 843, 14, 60)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('캐롤', 858, 15, 57)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('그대가 조국', 322478, 5685, 56)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('모가디슈', 3603247, 65743, 54)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('베놈 2: 렛 데어 비 카니지', 2114192, 38939, 54)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('타오르는 여인의 초상', 782, 15, 52)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('마세티 킬즈', 1250, 24, 52)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('무녀도', 3065, 59, 51)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('EBS 댄스파티! ', 5177, 104, 49)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('해리포터와 마법사의 돌', 63975, 1299, 49)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('랑종', 825283, 17052, 48)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('날씨의 아이', 12089, 254, 47)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('인질', 1626879, 35261, 46)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('샹치와 텐 링즈의 전설', 1734677, 38205, 45)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('킹스맨: 퍼스트 에이전트', 1021842, 22781, 44)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('호빗: 뜻밖의 여정', 8133, 184, 44)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('발신제한', 949123, 21550, 44)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('화양연화', 3858, 88, 43)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('버즈 라이트이어', 228915, 5222, 43)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('몬스타엑스 : 더 드리밍', 26672, 632, 42)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('피어썸', 1857, 45, 41)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('보스 베이비 2', 918981, 22535, 40)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('동백', 6172, 160, 38)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('듄', 1578018, 41647, 37)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('해적: 도깨비 깃발', 1327411, 35386, 37)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('보이스', 1419478, 37965, 37)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('경관의 피', 676346, 18389, 36)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('더 수어사이드 스쿼드', 414471, 11302, 36)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('에이핑크 스페셜 무비 : 혼', 3525, 97, 36)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('크루엘라', 727256, 20332, 35)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('배드 가이즈', 393867, 11221, 35)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('극장판 금빛 모자이크 땡큐!!', 1768, 51, 34)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('리스펙트', 12974, 379, 34)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('신비한 동물들과 덤블도어의 비밀', 1190425, 35129, 33)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('해리 포터와 불사조 기사단', 5724, 169, 33)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('007 노 타임 투 다이', 1222296, 36288, 33)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('장민호 드라마 최종회', 8703, 261, 33)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('장르만 로맨스', 511803, 15388, 33)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('유체이탈자', 808285, 24460, 33)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('뱅드림! 필름 라이브 세컨드 스테이지', 20051, 609, 32)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('프리 가이 ', 301236, 9478, 31)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('콰이어트 플레이스 2', 443353, 13975, 31)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('강릉', 298847, 9481, 31)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('세븐틴 파워 오브 러브 : 더 무비', 44818, 1443, 31)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('극장판 소드 아트 온라인 -프로그레시브- 별 없는 밤의 아리아', 27983, 941, 29)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('잔나비 판타스틱 올드패션드 리턴즈! x 넌센스 Ⅱ', 4031, 136, 29)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('니 부모 얼굴이 보고 싶다', 403045, 13623, 29)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('엔칸토: 마법의 세계', 627768, 21219, 29)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('해피 뉴 이어', 229306, 7776, 29)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('킬러의 보디가드 2', 344273, 11731, 29)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('킹메이커', 772996, 26446, 29)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('특송', 435630, 14972, 29)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('극장판 엉덩이 탐정: 수플레 섬의 비밀', 145915, 5122, 28)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('퍼스트 카우', 1769, 63, 28)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('언차티드', 728669, 26159, 27)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('씽2게더', 869335, 31422, 27)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('정글 크루즈', 245038, 8884, 27)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('원 세컨드', 1046, 39, 26)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('연애 빠진 로맨스', 603228, 23132, 26)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('호빗: 스마우그의 폐허', 1824, 70, 26)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('맨 인 더 다크 2', 77146, 3006, 25)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('프리! 더 파이널 스트로크 전편', 2904, 114, 25)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('프렌치 디스패치', 67780, 2733, 24)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('매트릭스: 리저렉션', 207937, 8424, 24)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('베르네 부인의 장미정원', 1801, 73, 24)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('중경삼림', 18502, 761, 24)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('블랙핑크 더 무비', 10027, 420, 23)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('피는 물보다 진하다', 11137, 471, 23)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('쓰리: 아직 끝나지 않았다', 3509, 149, 23)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('서울괴담', 107958, 4597, 23)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('올드', 110495, 4712, 23)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('태일이', 98888, 4219, 23)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('루카', 224641, 9634, 23)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('수퍼 소닉2', 301472, 12952, 23)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('극장판 포켓몬스터: 정글의 아이, 코코', 209524, 9048, 23)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('기적', 704921, 30489, 23)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('방법: 재차의', 170142, 7380, 23)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('이스케이프 룸 2: 노 웨이 아웃', 217988, 9522, 22)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('더 배트맨', 899354, 39647, 22)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('뜨거운 피', 386964, 17250, 22)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('모비우스', 469711, 21032, 22)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('괴기맨숀', 28392, 1273, 22)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('하이큐!! 땅 VS 하늘', 13242, 598, 22)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('극장판 주술회전 0', 619000, 28174, 21)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('이상한 나라의 수학자', 525153, 23920, 21)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('드라이브 마이 카', 36236, 1656, 21)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('극장판 페이트/그랜드 오더 신성원탁영역 카멜롯 팔라딘; 아가트람', 936, 44, 21)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('아담스 패밀리 2', 104898, 5004, 20)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('체르노빌 1986', 18810, 898, 20)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('극장판 짱구는 못말려: 격돌! 낙서왕국과 얼추 네 명의 용사들', 193222, 9355, 20)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('바다 탐험대 옥토넛 : 육지수호 대작전', 18376, 891, 20)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('특수요원 빼꼼', 9148, 448, 20)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('은혼 더 파이널', 27710, 1367, 20)

-----------------------------------------------
INSERT INTO movie_tbl VALUES ('레드 아워', 1000, 50, 20)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('청킹맨션', 1000, 50, 20)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('하빗', 1000, 50, 20)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('우연과 상상', 12002, 608, 19)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('이번엔 잘 되겠지', 1731, 88, 19)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('컨저링3: 악마가 시켰다', 64724, 3300, 19)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('공기살인', 151746, 7824, 19)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('몬스터 아카데미', 3859, 200, 19)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('귀멸의 칼날: 남매의 연', 58220, 3025, 19)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('틱, 틱... 붐!', 7757, 405, 19)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('미드나이트', 103173, 5424, 19)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('용과 주근깨 공주', 61892, 3292, 18)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('F20', 15798, 842, 18)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('퍼피 구조대 더 무비', 55673, 2997, 18)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('인어가 잠든 집', 4232, 228, 18)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('노회찬6411', 21687, 1179, 18)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('고장난 론', 151492, 8324, 18)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('경아의 딸', 940, 53, 17)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('나일 강의 죽음', 226619, 12974, 17)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('너에게 가는 길', 908, 52, 17)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('나를 만나는 길', 801, 46, 17)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('귀멸의 칼날: 주합회의·나비저택 편', 16818, 973, 17)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('몬스터 싱어: 매직 인 파리', 11752, 680, 17)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('그래비티', 12361, 717, 17)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('디어 에반 핸슨', 100246, 5834, 17)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('귀문', 90097, 5282, 17)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('꽃다발 같은 사랑을 했다', 23243, 1370, 16)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('앵커', 165199, 9898, 16)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('하우스 오브 구찌', 136475, 8222, 16)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('애프터 양', 22432, 1371, 16)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('쁘띠 마망', 2582, 158, 16)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('아멜리에', 5341, 329, 16)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('노웨어 스페셜', 1899, 117, 16)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('시라노', 16099, 997, 16)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('신비한 동물사전', 846, 53, 15)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('귀멸의 칼날: 나타구모산 편', 37763, 2375, 15)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('문폴', 188969, 11955, 15)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('피드백', 2475, 158, 15)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('팜 스프링스', 3734, 239, 15)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('엄마', 18699, 1204, 15)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('타다: 대한민국 스타트업의 초상', 2585, 167, 15)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('메이드 인 이태리', 3538, 229, 15)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('어나더 라운드', 25288, 1638, 15)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('카시오페아', 16866, 1097, 15)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('실종', 3723, 248, 15)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('여름날 우리', 34604, 2309, 14)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('아치의 노래, 정태춘', 21594, 1451, 14)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('신데렐라 2: 마법에 걸린 왕자', 36519, 2476, 14)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('극장판 도라에몽: 진구의 신공룡', 60982, 4143, 14)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('더 컨트랙터', 4174, 284, 14)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('웨스트 사이드 스토리', 111458, 7632, 14)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('소설가의 영화', 1854, 128, 14)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('코다', 42919, 3017, 14)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('램', 12850, 904, 14)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('끝없음에 관하여', 467, 33, 14)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('남색대문', 5395, 382, 14)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('매스', 5905, 421, 14)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('수색자', 19105, 1379, 13)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('나의 히어로 아카데미아 더 무비: 월드 히어로즈 미션', 44232, 3200, 13)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('레지던트 이블: 라쿤시티', 19979, 1446, 13)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('이공삼칠', 4820, 349, 13)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('첫눈이 사라졌다 ', 2531, 184, 13)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('고스트버스터즈 라이즈', 112585, 8193, 13)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('좋은 사람', 3696, 269, 13)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('극장판 안녕 자두야: 제주도의 비밀', 102254, 7454, 13)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('호스트: 접속금지', 13218, 965, 13)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('라스트 듀얼: 최후의 결투', 54742, 3998, 13)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('레벤느망', 3084, 227, 13)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('나의 촛불', 34004, 2515, 13)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('로스트 시티', 105473, 7880, 13)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('세버그', 6531, 490, 13)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('빌리 홀리데이', 4373, 332, 13)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('상견니', 3599, 274, 13)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('패러렐 마더스', 4933, 376, 13)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('캔디맨', 46775, 3568, 13)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('휴가', 1991, 152, 13)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('피닉스', 467, 36, 12)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('맛있는 여동생', 259, 20, 12)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('한창나이 선녀님', 1313, 102, 12)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('극장판 시그널', 3960, 311, 12)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('돈 룩 업', 69617, 5487, 12)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('안테벨룸', 92743, 7334, 12)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('뱅드림! 팝핀 드림!', 5821, 461, 12)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('크레센도', 2648, 210, 12)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('리슨', 2887, 232, 12)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('매직 스쿨: 초보마법사 아우라의 대모험', 2525, 206, 12)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('오필리아', 9353, 770, 12)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('분노의 질주: 더 얼티메이트', 21785, 1808, 12)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('이도공간', 997, 83, 12)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('아네트', 32276, 2705, 11)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('당신은 믿지 않겠지만', 1190, 100, 11)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('스텔라', 92423, 7811, 11)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('에펠', 4154, 352, 11)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('하늘의 푸르름을 아는 사람이여', 9213, 785, 11)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('라스트 나잇 인 소호', 38079, 3257, 11)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('앰뷸런스', 111281, 9532, 11)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('극장판 귀멸의 칼날: 무한열차편', 31427, 2706, 11)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('그린 나이트', 18909, 1657, 11)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('안녕하세요', 20374, 1805, 11)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('약속의 네버랜드', 1306, 116, 11)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('캐시트럭', 5019, 446, 11)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('해탄적일천', 2294, 204, 11)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('레미니센스', 36409, 3241, 11)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('인민을 위해 복무하라', 72790, 6482, 11)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('아이스 로드', 26088, 2339, 11)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('355', 37910, 3440, 11)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('십개월의 미래 ', 9469, 867, 10)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('빛나는 순간', 2845, 262, 10)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('토르: 마법 검의 전설', 7605, 704, 10)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('오마주', 6481, 600, 10)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('클리포드 더 빅 레드 독', 22474, 2090, 10)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('만년이 지나도 변하지 않는 게 있어', 14106, 1324, 10)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('인 더 하이츠', 46799, 4394, 10)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('건파우더 밀크셰이크', 33601, 3196, 10)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('봄날', 25902, 2471, 10)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('메리 미', 9509, 910, 10)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('티탄', 510, 49, 10)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('액션히어로', 1051, 101, 10)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('극장판 바다 탐험대 옥토넛 : 해저동굴 대탈출	', 17253, 1659, 10)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('말리그넌트', 36902, 3578, 10)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('청춘적니', 2274, 221, 10)

-----------------------------------------------
INSERT INTO movie_tbl VALUES ('사랑하고 사랑받고 차고 차이고', 1721, 169, 10)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('나이트 레이더스', 731, 72, 10)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('스페이스 독 3: 트로피컬 어드벤처', 3285, 327, 10)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('마이 뉴욕 다이어리', 3409, 342, 9)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('어부바', 20093, 2023, 9)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('말임씨를 부탁해', 12626, 1278, 9)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('킬링 카인드: 킬러의 수제자', 2167, 220, 9)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('라라와 크리스마스 요정', 2980, 308, 9)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('민스미트 작전', 29580, 3085, 9)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('B컷', 786, 82, 9)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('배니싱: 미제사건', 33132, 3492, 9)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('우리가 사랑이라고 믿는 것', 698, 74, 9)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('스펜서', 74240, 7987, 9)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('다이노 마이 프렌드', 3214, 356, 9)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('도쿄 리벤저스', 3627, 402, 9)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('나이트메어 앨리', 36294, 4025, 9)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('여고괴담 여섯번째 이야기 : 모교', 19910, 2216, 8)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('1984 최동원', 4429, 494, 8)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('불도저에 탄 소녀', 6807, 767, 8)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('드라이', 866, 103, 8)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('메이드 인 루프탑', 604, 73, 8)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('루이스 웨인: 사랑을 그린 고양이 화가', 36811, 4499, 8)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('스틸워터', 19965, 2474, 8)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('리코리쉬 피자', 8256, 1025, 8)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('극장판 천재 추리 탐정 셜록홈즈', 910, 114, 7)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('복지식당', 399, 51, 7)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('그리스도 디 오리진', 480, 62, 7)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('고양이를 부탁해', 389, 51, 7)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('실: 인연의 시작', 1092, 144, 7)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('우리, 둘', 381, 51, 7)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('소피의 세계', 1076, 145, 7)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('최선의 삶', 1985, 271, 7)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('블랙라이트', 22762, 3166, 7)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('킹 리차드', 6594, 978, 6)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('애프터: 관계의 함정', 15264, 2298, 6)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('스페이스 잼: 새로운 시대', 16282, 2495, 6)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('리디밍 러브', 1442, 224, 6)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('도어맨', 2679, 449, 5)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('드림걸즈', 1243, 212, 5)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('벨파스트', 9355, 1776, 5)
-----------------------------------------------
INSERT INTO movie_tbl VALUES ('화이트데이: 부서진 결계', 4292, 934, 4)
-----------------------------------------------

In [62]:
cur_oracle.close()
con_oracle.close()